<div class="container">
	{{> header home=false }}

	{{#each articles}}

		{{#if saved}}

		<div class="article" >

			<div class="row">

				<div class="col-md-1">
					<p>{{source}}</p>
				</div>
				<div class="col-md-9">
					<a href="{{link}}" target="_blank">
						{{headline}}
					</a>
				</div>
				<div class="col-md-2">
					<button class="note-it btn-sm btn-primary btn" data-id="{{_id}}">
						Note
					</button>
					<button class="delete-it btn-sm btn-danger btn" data-id="{{_id}}">
						Delete
					</button>
				</div>

			</div>

		</div>
		{{/if}}

	{{/each}}

	{{> modals }}

</div>
  

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../../assets/js/saved.js"></script>
